# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

/server

# Next.js Build Output
/.next/
/out/

# Production Build
/build

# Debugging Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local Environment Variables (Never commit secrets)
.env*.local
.env

# Vercel Deployment Metadata
.vercel

# TypeScript Compilation Cache
*.tsbuildinfo
next-env.d.ts

# Editor / OS Settings
.DS_Store
.vscode/
.idea/
